### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Unity (VERY IMPORTANT)
.vs/
Library/
Temp/
Obj/
Build/
Logs/
UserSettings/

# Android Studio
.idea/
*.iml

# Local config
android/local.properties

### Mac OS ###
.DS_Store